---
import type { Frontmatter } from '@interfaces/post'
import BaseLayout from '@layouts/BaseLayout.astro'
import { fetchAndBuildPosts } from '@utils/post-helpers'
import Posts from '@components/Posts.astro'

const rawPosts = await Astro.glob<Frontmatter>('../../data/posts/**/*.mdx')

const posts = fetchAndBuildPosts(rawPosts)
---

<BaseLayout description='My personal and technology blog.' title='Blog'>
	<main class='flex-1 px-6 lg:px-0' slot='main'>
		<Posts posts={posts} />
	</main>
</BaseLayout>
