---
import BaseLayout from '@layouts/BaseLayout.astro'
---

<BaseLayout
	description='Oops! I think you are a little lost my friend.'
	title='Not Found'
>
	<main
		class='flex flex-1 flex-col items-center justify-center px-6 lg:px-0'
		slot='main'
	>
		<h1 class='text-3xl text-aura-purple'>Not Found</h1>
	</main>
</BaseLayout>
