---
import BaseLayout from '@layouts/BaseLayout.astro'
---

<BaseLayout
	description='A little about me and my journey into the Tech Industry.'
	title='About'
>
	<main class='flex-1 space-y-6 px-6 lg:px-0' slot='main'>
		<h1>About Page</h1>
	</main>
</BaseLayout>
