---
import BaseLayout from '@layouts/BaseLayout.astro'
---

<BaseLayout
	description='Books that I have read or am currently reading that I would recommend to others.'
	title='Book Shelf'
>
	<main class='flex-1 space-y-6 px-6 lg:px-0' slot='main'>
		<h1>Book Shelf Page</h1>
	</main>
</BaseLayout>
