---
import { Image } from 'astro:assets'
import { ViewTransitions } from 'astro:transitions'
import me from '~/assets/cody-brunner-black-and-white.jpg'
---

<html>
	<head>
		<meta charset='utf-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1' />
		<meta name='generator' content={Astro.generator} />

		<!-- Primary Meta Tags -->
		<meta name='author' content='Cody Brunner' />
		<meta
			name='description'
			content='Cody Brunner is an American expat, USN Veteran, and Senior Software Developer'
		/>
		<meta name='title' content='Home | codybrunner.com' />
		<title>Home | codybrunner.com</title>

		<!-- Bots -->
		<meta name='robots' content='follow, index' />

		<!-- Sitemap -->
		<link href='/sitemap-index.xml' rel='sitemap' />

		<!-- Canonical URL -->
		<link href={new URL(Astro.url.pathname, Astro.site)} rel='canonical' />

		<!-- Open Graph / Facebook -->
		<meta
			property='og:description'
			content='Cody Brunner is an American expat, USN Veteran, and Senior Software Developer'
		/>
		<meta
			property='og:image'
			content={new URL('/favicons/logo.jpg', Astro.url)}
		/>
		<meta property='og:image:alt' content='Cody Brunner' />
		<meta property='og:image:height' content='512' />
		<meta property='og:image:type' content='image/jpg' />
		<meta property='og:image:width' content='512' />
		<meta property='og:locale' content='en_US' />
		<meta property='og:site_name' content='Cody Brunner' />
		<meta property='og:title' content='Home | codybrunner.com' />
		<meta property='og:type' content='website' />
		<meta property='og:url' content={Astro.url} />

		<!-- Favicons -->
		<link rel='icon' type='image/svg+xml' href='/favicons/favicon.ico' />
		<link
			rel='apple-touch-icon'
			sizes='180x180'
			href='/favicons/apple-touch-icon.png'
		/>
		<link
			rel='icon'
			type='image/png'
			sizes='32x32'
			href='/favicons/favicon-32x32.png'
		/>
		<link
			rel='icon'
			type='image/png'
			sizes='16x16'
			href='/favicons/favicon-16x16.png'
		/>
		<link href='/manifest.json' rel='manifest' />

		<ViewTransitions />
	</head>
	<body
		class='h-full min-h-screen w-full min-w-full bg-primary-900 font-sans text-base font-normal text-primary-200 antialiased'
	>
		<div class='flex h-screen flex-col items-center justify-center gap-8'>
			<Image
				alt='Image of Cody Brunner'
				class='rounded-xl bg-primary-100 object-cover'
				fetchpriority='high'
				height={300}
				quality={100}
				src={me}
				width={300}
			/>
			<div class='flex flex-col items-center justify-center gap-2'>
				<h1 class='text-3xl'>Cody Brunner</h1>
				<p>American Expat | USN Veteran | Senior Software Developer</p>
			</div>
			<a
				aria-label="Download Cody Brunner's Resume"
				class='group inline-flex items-center justify-center gap-2 rounded-md bg-primary-50 px-6 py-2 text-sm font-medium text-primary-900 outline-offset-2 transition hover:bg-accent-100/20 hover:text-accent-600 active:bg-primary-100 active:text-primary-900/60 active:transition-none'
				data-astro-reload
				href='/resume.pdf'
				rel='noopener noreferrer'
				target='_blank'
			>
				<span>Download CV</span>
				<svg
					aria-hidden='true'
					class='h-4 w-4 fill-none stroke-primary-600 transition group-hover:stroke-accent-600 group-active:stroke-accent-600'
					view-box='0 0 16 16'
				>
					<path
						d='M4.75 8.75 8 12.25m0 0 3.25-3.5M8 12.25v-8.5'
						stroke-linecap='round'
						stroke-linejoin='round'
						stroke-width='1.5'></path>
				</svg>
			</a>
		</div>
	</body>
</html>
