---
import me from '@assets/me.jpg'
import Posts from '@components/Posts.astro'
import type { Frontmatter } from '@interfaces/post'
import BaseLayout from '@layouts/BaseLayout.astro'
import {
	filterPosts,
	isFeatured,
	fetchAndBuildPosts,
} from '@utils/post-helpers'

const rawPosts = await Astro.glob<Frontmatter>('../data/posts/**/*.mdx')

const posts = fetchAndBuildPosts(rawPosts)

// Get Featured Posts
const featuredPosts = filterPosts(posts, isFeatured)

// Get Latest Posts
const latestPosts = posts.slice(0, 3)
---

<BaseLayout>
	<section class='px-6 lg:px-0' slot='hero'>
		<div
			class='flex flex-col items-center justify-center space-y-4 rounded-lg bg-aura-purple-fading p-6 shadow-md shadow-aura-gray md:flex-row md:space-x-8 md:space-y-0 lg:p-12'
		>
			<picture
				class='relative h-40 w-40 flex-none rounded-full md:h-44 md:w-44'
			>
				<img
					alt='Cody Brunner Avatar'
					class='absolute h-40 w-40 flex-none rounded-full object-cover md:h-44 md:w-44'
					src={me}
				/>
			</picture>
			<div class='space-y-2'>
				<h2 class='text-2xl font-bold lg:text-4xl'>Hey I&apos;m Cody</h2>
				<p class='text-left text-xl lg:text-3xl lg:leading-snug'>
					I am a <strong class='font-bold'>Software Developer</strong>
					from the
					<span aria-label='USA' class='font-bold'>
						<span class='text-red'>U</span>
						<span class='text-white'>S</span>
						<span class='text-blue'>A</span>
					</span>
					living in
					<span aria-label='Colombia' class='font-bold'>
						<span class='text-yellow'>Col</span>
						<span class='text-blue'>om</span>
						<span class='text-red'>bia</span>
					</span>
					currently working as a
					<span class='font-bold'>Freelance Developer</span>.
				</p>
			</div>
		</div>
	</section>
	<main class='flex flex-col space-y-8 px-6 grid-in-main lg:px-0' slot='main'>
		<section class='flex flex-col space-y-6'>
			<h2 class='text-2xl text-aura-green'>Featured Post</h2>
			{!!featuredPosts.length && <Posts posts={featuredPosts} />}
		</section>
		<section class='flex flex-col space-y-6'>
			<h2 class='text-2xl text-aura-green'>Latest Posts</h2>
			{!!latestPosts.length && <Posts posts={latestPosts} />}
		</section>
		<section class='flex flex-col space-y-6'>
			<h2 class='text-2xl text-aura-green'>Latest Projects</h2>
		</section>
	</main>
</BaseLayout>
