---
import '@fontsource-variable/playfair-display'
import '@fontsource/poppins'
---

<h1 class="font-display">Hello</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, hic illo ut id odit commodi excepturi nostrum, eaque sint officia magnam at nemo, provident atque dignissimos officiis cum sequi rerum.</p>
