---
import Head from '@components/Head.astro'
import Img from '@components/Img.astro'
import Main from '@components/Main.astro'
import Section from '@components/Section.astro'
import BaseLayout from '@layouts/BaseLayout.astro'
// Assets
import me from '../assets/images/cody-brunner.jpg'

const today = new Date()

const CONSTANTS = {
	location: 'Colombia',
	yearsOfExperience: today.getFullYear() - 2018,
}
---

<BaseLayout>
	<Head slot='metadata' />
	<Main slot='content'>
		<Section class='space-y-8 sm:block'>
			<div
				class='flex items-center justify-center sm:float-left sm:mt-6 sm:mr-6 sm:block'
			>
				<Img
					alt='Cody Brunner'
					aspectRatio='1:1'
					class='h-80 w-60 rounded-2xl'
					format='jpg'
					src={me}
				/>
			</div>

			<div class='flex flex-col space-y-4 text-justify sm:block'>
				<p>
					Cody is an American software developer and US Navy
					veteran hailing from Kansas. He now lives in {CONSTANTS.location} (the
					country, not a city in the USA) with his wife and golden boy doggo son.
				</p>
				<p>
					He has {CONSTANTS.yearsOfExperience} years of experience designing, building,
					shipping, and maintaining production ready SaaS products. His experience
					ranges markets in scheduling, logistics, automation, and crypto-currency/fin-tech.
					He primarily works with React and TypeScript but has experience with a
					variety of other technologies including but not limited too: Elixir, GraphQL,
					NodeJS, PostgreSQL, Python, and Rust.
				</p>
				<p>
					In his free time his hobbies include reading, running, hiking, playing
					guitar, weight lifting, Brazilian Jiu-Jitsu, smoking meats & cheeses,
					tinkering around with IoT devices, walking & playing with his dog,
					taking his wife out on fancy coffee dates, and enjoying some top shelf
					whisky while watching his Kansas Jayhawks cut down the nets in April.
				</p>
			</div>
		</Section>
	</Main>
</BaseLayout>
