---
import { Image } from 'astro:assets'
// Assest
import articles from '~/assets/articles.svg'
import me from '~/assets/cody-brunner-go.jpeg'
import meDark from '~/assets/cody-brunner-go-dark.jpeg'
// Components
import Container from '~/components/container.astro'
import Head from '~/components/head.astro'
import Link from '~/components/link.astro'
import ResumeList from '~/components/resume-list.astro'
import Socials from '~/components/socials.astro'
import BaseLayout from '~/layouts/base-layout.astro'

// Translations
import { getLangFromUrl, useTranslations } from '~/i18n'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<BaseLayout>
	<Head slot='metadata' />
	<Container class='mt-9' slot='content'>
		<div
			class='grid grid-cols-1 place-items-center gap-y-16 lg:grid-cols-2 lg:grid-rows-[auto_1fr] lg:gap-y-12'
		>
			<div class='max-w-2xl'>
				<h1
					class='font-display text-4xl font-bold tracking-tight text-primary-900 dark:text-primary-100 sm:text-5xl'
				>
					{t('home.hero.heading')}
				</h1>
				<p class='mt-6 text-base text-primary-600 dark:text-primary-400'>
					{t('home.hero.description')}
				</p>
				<Socials />
			</div>
			<div class='lg:pl-12'>
				<div class='max-w-xs px-2.5 lg:max-w-none'>
					<Image
						alt={t('home.profile.alt')}
						class='aspect-square rotate-6 rounded-2xl bg-primary-100 object-cover shadow-2xl shadow-primary-800/30 dark:hidden'
						fetchpriority='high'
						height={400}
						quality={100}
						src={me}
						width={400}
					/>
					<Image
						alt={t('home.profile.alt')}
						class='hidden aspect-square rotate-6 rounded-2xl object-cover shadow-2xl dark:block dark:bg-primary-800 dark:shadow-primary-100/20'
						fetchpriority='high'
						height={400}
						quality={100}
						src={meDark}
						width={400}
					/>
				</div>
			</div>
		</div>
	</Container>
	<Container class='mt-10' slot='content'>
		<div
			class='mx-auto grid max-w-xl grid-cols-1 gap-y-20 lg:max-w-none lg:grid-cols-2 lg:gap-x-20 lg:gap-y-0'
		>
			<!-- Left Column -->
			<div
				class='order-last flex flex-col items-center justify-center space-y-16 lg:order-first lg:items-start lg:justify-start lg:space-y-20'
			>
				<h2 class='font-display text-3xl font-bold'>
					{t('home.articles.heading')}
				</h2>
				<Image
					alt={t('home.articles.alt')}
					class='max-w-xs sm:max-w-sm'
					height={400}
					src={articles}
					width={400}
				/>
			</div>
			<!-- Right Column -->
			<div class='space-y-10'>
				<!-- Resume -->
				<div
					class='rounded-2xl border border-primary-100 p-6 dark:border-primary-700/40'
				>
					<h2
						class='flex items-center text-sm font-semibold text-primary-900 dark:text-primary-100'
					>
						<svg
							aria-hidden='true'
							class='h-6 w-6 flex-none fill-none'
							stroke-linecap='round'
							stroke-linejoin='round'
							stroke-width='1.5'
							view-box='0 0 24 24'
						>
							<path
								class='fill-primary-100 stroke-primary-400 dark:fill-primary-100/10 dark:stroke-primary-500'
								d='M2.75 9.75a3 3 0 0 1 3-3h12.5a3 3 0 0 1 3 3v8.5a3 3 0 0 1-3 3H5.75a3 3 0 0 1-3-3v-8.5Z'
							></path>
							<path
								class='stroke-primary-400 dark:stroke-primary-500'
								d='M3 14.25h6.249c.484 0 .952-.002 1.316.319l.777.682a.996.996 0 0 0 1.316 0l.777-.682c.364-.32.832-.319 1.316-.319H21M8.75 6.5V4.75a2 2 0 0 1 2-2h2.5a2 2 0 0 1 2 2V6.5'
							></path>
						</svg>
						<span class='ml-3'>{t('home.resume.heading')}</span>
					</h2>
					<ResumeList />
					<Link
						aria-label={t('home.resume.button.label')}
						class='group mt-6 inline-flex w-full items-center justify-center gap-2 rounded-md bg-primary-50 px-3 py-2 text-sm font-medium text-primary-900 outline-offset-2 transition hover:bg-accent-100/50 hover:text-accent-600 active:bg-primary-100 active:text-primary-900/60 active:transition-none dark:bg-primary-800/50 dark:text-primary-300 dark:hover:bg-accent-800 dark:hover:text-accent-50 dark:active:bg-primary-800/50 dark:active:text-primary-50/70'
						data-astro-reload
						href='/resume.pdf'
						rel='noopener noreferrer'
						target='_blank'
					>
						<span>{t('home.resume.button')}</span>
						<svg
							aria-hidden='true'
							class='h-4 w-4 fill-none stroke-primary-600 transition group-hover:stroke-accent-600 group-active:stroke-accent-600 dark:group-hover:stroke-accent-50 dark:group-active:stroke-accent-50'
							view-box='0 0 16 16'
						>
							<path
								d='M4.75 8.75 8 12.25m0 0 3.25-3.5M8 12.25v-8.5'
								stroke-linecap='round'
								stroke-linejoin='round'
								stroke-width='1.5'></path>
						</svg>
					</Link>
				</div>
			</div>
		</div>
	</Container>
</BaseLayout>
