---
import BaseLayout from '@layouts/BaseLayout.astro'
---

<BaseLayout
	description='Projects that I have worked on over the years.'
	title='Portfolio'
>
	<main class='flex-1 space-y-6 px-6 lg:px-0' slot='main'>
		<h1>Portfolio Page</h1>
	</main>
</BaseLayout>
