---
import BaseLayout from '@layouts/BaseLayout.astro'
---

<BaseLayout
	description='The hardware & software I work with in my job as a Software Developer.'
	title='Uses'
>
	<main class='flex-1 space-y-6 px-6 lg:px-0' slot='main'>
		<h1>Uses Page</h1>
	</main>
</BaseLayout>
