---
import Link from './link.astro'
import { formatDate } from '~/utils/helpers'

export interface Props {
	date: string
	description: string
  href: string
	title: string
}

const { date, description, href, title } = Astro.props
const d = new Date(date)
---

<article class='group relative flex flex-col items-start'>
	<h2
		class='text-base font-semibold tracking-tight text-primary-800 dark:text-primary-100'
	>
		<div
			class='absolute -inset-x-4 -inset-y-6 z-0 scale-95 bg-primary-50 opacity-0 transition group-hover:scale-100 group-hover:opacity-100 sm:-inset-x-6 sm:rounded-2xl dark:bg-primary-800/50'
		>
		</div>
		<Link aria-label={`Link to ${title} article on blog.codybrunner.com`} href={href}>
			<span
				class='absolute -inset-x-4 -inset-y-6 z-20 sm:-inset-x-6 sm:rounded-2xl'
			></span>
			<span class='relative z-10'>{title}</span>
		</Link>
	</h2>
	<time
		class='relative z-10 order-first mb-3 flex items-center pl-3.5 text-sm text-primary-400 dark:text-primary-500'
		datetime={formatDate(d, 'short')}
	>
		<span
			aria-hidden='true'
			class='absolute inset-y-0 left-0 flex items-center'
		>
			<span class='h-4 w-0.5 rounded-full bg-primary-200 dark:bg-primary-500'
			></span>
		</span>
		 {formatDate(d, 'long')}
	</time>
	<p class='relative z-10 mt-2 text-sm text-primary-600 dark:text-primary-400'>
		{description}
	</p>
	<div
		aria-hidden='true'
		class='relative z-10 mt-4 flex items-center text-sm font-medium text-accent-500'
	>
		Read Article
		<svg
			aria-hidden='true'
			class='ml-1 h-4 w-4 fill-none stroke-current'
			view-box='0 0 16 16'
		>
			<path
				d='M6.75 5.75 9.25 8l-2.5 2.25'
				stroke-linecap='round'
				stroke-linejoin='round'
				stroke-width='1.5'></path>
		</svg>
	</div>
</article>
