---
import { Icon } from 'astro-icon'
// Components
import Img from "@components/Img.astro";
import Link from "@components/Link.astro";
---


<header class="hidden flex-shrink-0 py-4 w-full lg:block">
  <nav class="flex items-center justify-between">
    <div class="">
      <Link href="/" label="Go to Home Page.">
        <Img alt="Logo" height={40} width={40} src="/favicons/android-chrome-192x192.png" />
      </Link>
    </div>
    <ul class="bg-aura-purple-fading flex items-center px-4 py-2 rounded-3xl shadow-lg space-x-3">
      <li class="">
        <Link class="duration-200 ease-in-out transform transition-all hover:font-bold hover:scale-105 hover:text-aura-orange" href="/" label="Go to Home Page.">Home</Link>
      </li>
      <li class="">
        <Link class="duration-200 ease-in-out transform transition-all hover:font-bold hover:scale-105 hover:text-aura-orange" href="/resume.pdf" isExternal label="Go to Home Page.">Resume</Link>
      </li>
      <li class="">
        <Link class="duration-200 ease-in-out transform transition-all hover:font-bold hover:scale-105 hover:text-aura-orange" href="https://appt.link/cody-brunner-dev/video-call/" isExternal label="Link to Cody Brunner's Appointlet Booking Page.">Chat</Link>
      </li>
      <li class="">
        <hr class="h-5 border-l-white border" />
      </li>
      <li class="">
        <Link
          class="duration-200 ease-in-out transform transition-all hover:font-bold hover:scale-105 hover:text-aura-orange"
          href="https://github.com/rockchalkwushock"
          isExternal
          label="Link to Cody Brunner's GitHub Account."
        >
          <Icon alt="GitHub Icon" class="h-6 w-6" name="mdi:github" />
        </Link>
      </li>
      <li class="">
        <Link
          class="duration-200 ease-in-out transform transition-all hover:font-bold hover:scale-105 hover:text-aura-orange"
          href="https://www.linkedin.com/in/cody-brunner"
          isExternal
          label="Link to Cody Brunner's LinkedIn Account."
        >
          <Icon alt="LinkedIn Icon" class="h-6 w-6" name="mdi:linkedin" />
        </Link>
      </li>
    </ul>
  </nav>
</header>
