---
import type { HTMLAttributes } from 'astro/types'
import { cn } from "~/utils/helpers";

export type Props = HTMLAttributes<'div'>

const { class: cls, style } = Astro.props
---

<div class={cn('relative px-4 sm:px-8 lg:px-12', cls)} style={style}>
  <div class="mx-auto max-w-2xl lg:max-w-5xl">
    <slot />
  </div>
</div>
