---
import type { HTMLAttributes } from 'astro/types'
import { twMerge } from 'tailwind-merge'
export interface Props extends HTMLAttributes<'a'> {
	readonly isActive?: boolean
	readonly isExternal?: boolean
}

const BASE_STYLES = ['text-aura-white']
const { class: cls, isActive, isExternal, ...rest } = Astro.props
const styles = twMerge(
	BASE_STYLES,
	cls,
	// If this is an external link don't apply the
	// active link styles to the link.
	isExternal ? undefined : isActive ? 'text-aura-purple' : 'text-aura-white'
)
---

{
	isExternal ? (
		<a
			{...rest}
			class={styles}
			rel='noopener noreferrer'
			target='_blank'
		>
			<slot />
		</a>
	) : (
		<a {...rest} class={styles} rel='prefetch'>
			<slot />
		</a>
	)
}
