---
import type { Props as NavItemProps } from './NavItem.astro'
import { twMerge } from 'tailwind-merge'
import List from './List.astro'
import NavItem from './NavItem.astro'
import { links, routes } from 'routes-and-links'

/**
 * This Navigation Implementation was taken from:
 * - https://www.kevinzunigacuellar.com/
 * - https://github.com/kevinzunigacuellar/kevinzunigacuellar.com
 * Hats of to @kevinzunigacuellar for the initial design
 * idea it was dope! I repurposed the degsin and expanded upon it
 * in my own site.
 */
const navigation: Array<NavItemProps> = [
	{
		iconLabel: 'Home Icon.',
		iconName: 'home',
		linkLabel: 'Link to Home Page.',
		to: routes.home,
	},
	// {
	// 	iconLabel: 'Book Icon.',
	// 	iconName: 'blog',
	// 	linkLabel: 'Link to Blog Page.',
	// 	to: routes.blog,
	// },
	{
		iconLabel: 'Books Icon.',
		iconName: 'bookShelf',
		linkLabel: 'Link to Book Shelf Page.',
		to: routes.bookshelf,
	},
	{
		iconLabel: 'Git Branch Icon.',
		iconName: 'portfolio',
		linkLabel: 'Link to Portfolio Page.',
		to: routes.portfolio,
	},
	{
		iconLabel: 'Tools Icon.',
		iconName: 'uses',
		linkLabel: 'Link to Uses Page.',
		to: routes.uses,
	},
	{
		iconLabel: 'Resume Icon.',
		iconName: 'cv',
		isExternal: true,
		linkLabel: "Link to Cody Brunner's Resume.",
		to: routes.resume,
	},
	{
		iconLabel: 'Calendar Icon.',
		iconName: 'schedule',
		isExternal: true,
		linkLabel: "Link to Cody Brunner's Appointlet Booking Page.",
		to: links.meet,
	},
	{
		iconLabel: 'GitHub Icon.',
		iconName: 'github',
		isExternal: true,
		linkLabel: "Link to Cody Brunner's GitHub Account.",
		to: links.github,
	},
	// {
	// 	iconLabel: 'Instagram Icon.',
	// 	iconName: 'instagram',
	// 	isExternal: true,
	// 	linkLabel: "Link to Cody Brunner's Instagram Account.",
	// 	to: links.instagram,
	// },
	{
		iconLabel: 'LinkedIn Icon.',
		iconName: 'linkedIn',
		isExternal: true,
		linkLabel: "Link to Cody Brunner's LinkedIn Account.",
		to: links.linkedin,
	},
	{
		iconLabel: 'Twitter Icon.',
		iconName: 'twitter',
		isExternal: true,
		linkLabel: "Link to Cody Brunner's Twitter Account.",
		to: links.twitter,
	},
]
const NAV_BASE_STYLES = ['bottom-0', 'pb-6', 'sticky']
const UL_BASE_STYLES = [
	'bg-black',
	'flex',
	'flex-row',
	'items-center',
	'max-w-xs',
	'mx-auto',
	'overflow-x-scroll',
	'p-2',
	'rounded-lg',
	'shadow-2xl',
	'space-x-3',
	'sm:max-w-lg',
	'sm:p-4',
	'md:max-w-2xl',
	'md:rounded-2xl',
	'lg:hidden',
]

const firstLinks = navigation.slice(0, 5)
const socialLinks = navigation.slice(5)
const navStyles = twMerge(NAV_BASE_STYLES)
const ulStyles = twMerge(UL_BASE_STYLES)
---

<nav class={navStyles}>
	<List class={ulStyles} kind='unordered'>
		{firstLinks.map(props => <NavItem {...props} />)}
		<hr class='h-16 border-l-2 border-aura-purple-fading' />
		{socialLinks.map(props => <NavItem {...props} />)}
	</List>
</nav>
