---
import { Image } from 'astro:assets'

import type { Job } from '~/content/config'

interface Props {
	jobs: Job[]
}

const sortFn = (a: Job, b: Job): number => {
	if (a.data.end === undefined && b.data.end === undefined) {
    return 0;
  } else if (a.data.end === undefined) {
    return -1;
  } else if (b.data.end === undefined) {
    return 1;
  } else {
		const dateA = new Date(a.data.end)
		const dateB = new Date(b.data.end)
    return dateB.getTime() - dateA.getTime();
  }
}

const { jobs } = Astro.props
---

<ol class='mt-6 space-y-4' role='list'>
	{
		jobs.sort(sortFn).map(({ data }) => (
			<li class='flex gap-4' role='listitem'>
				<div class='relative mt-1 flex h-10 w-10 flex-none items-center justify-center rounded-full shadow-md shadow-primary-800/5 ring-1 ring-primary-900/5 dark:border dark:border-primary-700/50 dark:bg-white dark:ring-0'>
					<Image
						alt={`Logo for ${data.company}`}
						class='rounded-full'
						height={40}
						src={data.logo}
						width={40}
					/>
				</div>
				<dl class='flex flex-auto flex-wrap gap-x-2'>
					<dt class='sr-only'>Company</dt>
					<dd class='w-full flex-none text-sm font-medium text-primary-900 dark:text-primary-100'>
						{data.company}
					</dd>
					<dt class='sr-only'>Role</dt>
					<dd class='text-xs text-primary-500 dark:text-primary-400'>
						{data.title}
					</dd>
					<dt class='sr-only'>Date</dt>
					<dd
						aria-label={`${new Date(data.start)
							.getFullYear()
							.toString()} until ${
							data.end ? new Date(data.end).getFullYear().toString() : 'Present'
						}`}
						class='ml-auto text-xs text-primary-500 dark:text-primary-400'
					>
						<time datetime={new Date(data.start).getFullYear().toString()}>
							{new Date(data.start).getFullYear()}
						</time>
						<span aria-hidden='true'>-</span>
						<time
							datetime={
								data.end
									? new Date(data.end).getFullYear().toString()
									: new Date().getFullYear().toString()
							}
						>
							{data.end ? new Date(data.end).getFullYear() : 'Present'}
						</time>
					</dd>
				</dl>
			</li>
		))
	}
</ol>
