---
---

<header
	class='flex min-h-[10rem] flex-col items-center justify-center border-x-0 border-t-0 border-b border-aura-purple/50'
>
	<h1 class='text-center text-4xl'>codybrunner.com</h1>
</header>
