---
// Components
import Link from './link.astro'

// Translations
import { getLangFromUrl, useTranslations } from '~/i18n'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

// Utils
import { cn } from '~/utils/helpers'

export type Props = {
	isOnAboutPage?: boolean
}

const CONTENT = [
	{
		label: t('socials.github'),
		href: 'https://github.com/rockchalkwushock',
		key: 'github',
	},
	{
		label: t('socials.linkedin'),
		href: 'https://www.linkedin.com/in/cody-brunner',
		key: 'linkedin',
	},
	{
		label: t('socials.upwork'),
		href: 'https://www.upwork.com/freelancers/~01bfca196120eae300?mp_source=share',
		key: 'upwork',
	},
	{
		label: t('socials.code-crafters'),
		href: 'https://app.codecrafters.io/users/rockchalkwushock',
		key: 'code-crafters',
	},
] as const

const { isOnAboutPage = false } = Astro.props
---

<ul class={cn(isOnAboutPage ? 'grid gap-4' : 'mt-6 flex gap-3')} role='list'>
	{
		CONTENT.map(({ label, href, key }) => (
			<li class={cn(isOnAboutPage ? 'flex' : undefined)}>
				<Link
					aria-label={label}
					class={cn(
						'group',
						isOnAboutPage
							? 'flex space-x-2 text-primary-800 transition hover:text-accent-500 dark:text-primary-200 dark:hover:text-accent-500'
							: 'text-gray-400 hover:text-gray-500'
					)}
					href={href}
					rel='noopener noreferrer'
					target='_blank'
				>
					{key === 'github' && (
						<>
							<svg
								aria-hidden='true'
								class='h-6 w-6 fill-primary-500 transition-all duration-100 ease-in-out group-hover:fill-accent-500 dark:fill-primary-400 dark:group-hover:fill-accent-400 lg:group-hover:scale-125 lg:group-hover:animate-wiggle'
								view-box='0 0 24 24'
							>
								<path
									clip-rule='evenodd'
									d='M12 2C6.475 2 2 6.588 2 12.253c0 4.537 2.862 8.369 6.838 9.727.5.09.687-.218.687-.487 0-.243-.013-1.05-.013-1.91C7 20.059 6.35 18.957 6.15 18.38c-.113-.295-.6-1.205-1.025-1.448-.35-.192-.85-.667-.013-.68.788-.012 1.35.744 1.538 1.051.9 1.551 2.338 1.116 2.912.846.088-.666.35-1.115.638-1.371-2.225-.256-4.55-1.14-4.55-5.062 0-1.115.387-2.038 1.025-2.756-.1-.256-.45-1.307.1-2.717 0 0 .837-.269 2.75 1.051.8-.23 1.65-.346 2.5-.346.85 0 1.7.115 2.5.346 1.912-1.333 2.75-1.05 2.75-1.05.55 1.409.2 2.46.1 2.716.637.718 1.025 1.628 1.025 2.756 0 3.934-2.337 4.806-4.562 5.062.362.32.675.936.675 1.897 0 1.371-.013 2.473-.013 2.82 0 .268.188.589.688.486a10.039 10.039 0 0 0 4.932-3.74A10.447 10.447 0 0 0 22 12.253C22 6.588 17.525 2 12 2Z'
									fill-rule='evenodd'
								/>
							</svg>
							{isOnAboutPage && <span>{t('socials.github')}</span>}
						</>
					)}
					{key === 'linkedin' && (
						<>
							<svg
								aria-hidden='true'
								class='h-6 w-6 fill-primary-500 transition-all duration-100 ease-in-out group-hover:fill-accent-500 dark:fill-primary-400 dark:group-hover:fill-accent-400 lg:group-hover:scale-125 lg:group-hover:animate-wiggle'
								view-box='0 0 24 24'
							>
								<path d='M18.335 18.339H15.67v-4.177c0-.996-.02-2.278-1.39-2.278-1.389 0-1.601 1.084-1.601 2.205v4.25h-2.666V9.75h2.56v1.17h.035c.358-.674 1.228-1.387 2.528-1.387 2.7 0 3.2 1.778 3.2 4.091v4.715zM7.003 8.575a1.546 1.546 0 01-1.548-1.549 1.548 1.548 0 111.547 1.549zm1.336 9.764H5.666V9.75H8.34v8.589zM19.67 3H4.329C3.593 3 3 3.58 3 4.297v15.406C3 20.42 3.594 21 4.328 21h15.338C20.4 21 21 20.42 21 19.703V4.297C21 3.58 20.4 3 19.666 3h.003z' />
							</svg>
							{isOnAboutPage && <span>{t('socials.linkedin')}</span>}
						</>
					)}
					{key === 'upwork' && (
						<>
							<svg
								aria-hidden='true'
								class='h-6 w-6 fill-primary-500 transition-all duration-100 ease-in-out group-hover:fill-accent-500 dark:fill-primary-400 dark:group-hover:fill-accent-400 lg:group-hover:scale-125 lg:group-hover:animate-wiggle'
								viewBox='0 0 448 512'
							>
								<path d='M56 32h336c30.9 0 56 25.1 56 56v336c0 30.9-25.1 56-56 56H56c-30.9 0-56-25.1-56-56V88c0-30.9 25.1-56 56-56m214.9 242.2c6.6-52.9 25.9-69.5 51.4-69.5c25.3 0 44.9 20.2 44.9 49.7s-19.7 49.7-44.9 49.7c-27.9 0-46.3-21.5-51.4-29.9m-26.7-41.8c-8.2-15.5-14.3-36.3-19.2-55.6h-62.9v78.1c0 28.4-12.9 49.4-38.2 49.4S84.1 283.4 84.1 255l.3-78.1H48.2V255c0 22.8 7.4 43.5 20.9 58.2c13.9 15.2 32.8 23.2 54.8 23.2c43.7 0 74.2-33.5 74.2-81.5v-52.5c4.6 17.3 15.4 50.5 36.2 79.7L215 392.6h36.8l12.8-78.4c4.2 3.5 8.7 6.6 13.4 9.4c12.3 7.8 26.4 12.2 40.9 12.6h3.4c45.1 0 80.9-34.9 80.9-81.9s-35.9-82.2-80.9-82.2c-45.4 0-70.9 29.7-78.1 60.1z' />
							</svg>
							{isOnAboutPage && <span>{t('socials.upwork')}</span>}
						</>
					)}
					{key === 'code-crafters' && (
						<>
							<svg
								aria-hidden='true'
								class='h-6 w-6 fill-primary-500 transition-all duration-100 ease-in-out group-hover:fill-accent-500 dark:fill-primary-400 dark:group-hover:fill-accent-400 lg:group-hover:scale-125 lg:group-hover:animate-wiggle'
								view-box='0 0 24 24'
							>
								<path d='M9.825 17.527a.11.11 0 0 1-.107-.142l3.05-10.837a.11.11 0 0 1 .108-.081H14.2a.11.11 0 0 1 .107.141l-3.063 10.838a.11.11 0 0 1-.107.08H9.825Zm-2.146-2.732a.1.1 0 0 1-.079-.033l-2.667-2.704a.11.11 0 0 1 0-.156L7.6 9.211a.1.1 0 0 1 .08-.033h1.702c.1 0 .149.12.079.19l-2.534 2.534a.11.11 0 0 0 0 .157l2.535 2.546c.07.07.02.19-.079.19zm6.954 0a.111.111 0 0 1-.079-.19l2.525-2.546a.11.11 0 0 0 0-.157l-2.524-2.535a.111.111 0 0 1 .079-.19h1.692q.047.001.078.034l2.68 2.69a.11.11 0 0 1 0 .157l-2.68 2.704a.1.1 0 0 1-.078.033zM12 24C5.383 24 0 18.617 0 12S5.383 0 12 0s12 5.383 12 12s-5.383 12-12 12m0-22.667C6.118 1.333 1.333 6.118 1.333 12S6.118 22.667 12 22.667S22.667 17.882 22.667 12S17.882 1.333 12 1.333' />
							</svg>
							{isOnAboutPage && <span>{t('socials.code-crafters')}</span>}
						</>
					)}
				</Link>
			</li>
		))
	}
</ul>
