---
// Components
import Footer from '@components/Footer.astro'
import Header from '@components/Header.astro'
import Nav from '@components/Nav.astro'
---

<html lang='en'>
	<head>
		<slot name='metadata' />
	</head>
	<body
		class='relative mx-auto flex min-h-screen max-w-4xl flex-col items-center scroll-smooth bg-aura-black px-4 text-lg text-aura-white antialiased md:px-0 lg:items-start'
	>
		<Header />
		<slot name='content' />
		<Footer />
		<Nav />
	</body>
</html>
