---
// Components
import Footer from '@components/Footer.astro';
import Header from '@components/Header.astro';
import Nav from "@components/Nav.astro";
---

<html>
  <head>
    <slot name="metadata" />
  </head>
  <body class="flex flex-col items-center max-w-2xl min-h-screen mx-auto relative px-4 sm:px-6 lg:items-start lg:px-8">
    <Header />
    <slot name="content" />
    <Footer />
    <Nav />
  </body>
</html>
