---
import type { Post } from '@interfaces/post'
import Footer from '@components/Footer.astro'
import Head from '@components/Head.astro'
import Nav from '@components/Nav.astro'
import SiteHeader from '@components/SiteHeader.astro'

export interface Props {
	post: Post
}

const { post } = Astro.props
---

<!DOCTYPE html>
<html lang='en-us'>
	<head>
		<Head
			description={post.frontmatter.description}
			post={post}
			title={post.frontmatter.title}
		/>
	</head>
	<body
		class='container mx-auto flex min-h-screen max-w-4xl flex-col space-y-8 bg-aura-black pb-8 text-lg font-normal text-aura-white antialiased'
	>
		<SiteHeader />
		<div
			class='grid grid-cols-mobile grid-rows-mobile gap-8 grid-areas-mobile lg:grid-cols-desktop lg:grid-rows-desktop lg:grid-areas-desktop'
		>
			<header
				class='flex w-full flex-col space-y-4 px-6 grid-in-header lg:px-0'
			>
				<slot name='header' />
			</header>
			<main
				class='flex w-screen flex-col space-y-8 px-6 grid-in-main md:w-full lg:px-0'
			>
				<slot name='main' />
			</main>
			<aside class='hidden grid-in-aside lg:block'>
				<slot name='aside' />
			</aside>
			<Nav inPostLayout />
			<Footer inPostLayout />
		</div>
	</body>
</html>
