---
---

<!-- Will inherit <html/> structure from <BaseLayout /> -->
<section class=''>
	<slot name='header' />
</section>
<article class='prose-xl prose prose-invert max-w-none'>
	<slot name='content' />
</article>
<section class=''>
	<slot name='related-posts' />
</section>
