name: CI

on:
  pull_request:
    branches:
      - staging
    types:
      - edited
      - opened
      - synchronize

jobs:
  review:
    name: Code Review
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        node-version: [18.x]
        pnpm-version: [7.x]
    timeout-minutes: 15

    steps:
      - uses: styfle/cancel-workflow-action@0.11.0
        with:
          access_token: ${{ github.token }}

      - uses: actions/checkout@v3
        with:
          fetch-depth: 2

      - uses: pnpm/action-setup@v2.2.4
        with:
          version: ${{ matrix.pnpm-version }}

      - uses: actions/setup-node@v3
        with:
          cache: "pnpm"
          node-version: ${{ matrix.node-version }}

      - run: pnpm install --frozen-lockfile
      - run: pnpm run lint
      # FIXME: Temporarily disabled until we fix all type errors
      # - run: pnpm run type-check

      - run: pnpm run build
        env:
          NODE_ENV: production
